mutt/secrets
weechat/logs/
weechat/sec.conf
weechat/script/plugins.xml.gz
venv
tag-terminal/config/base16-shell
tag-weechat/wee-slack
tag-weechat/weechat/python/autoload/wee_slack.py
tag-zsh/zsh-syntax-highlighting
tag-mail-sender/muttdown
tag-scripts/local/bin/=
tag-i3/menu-calc
