[Unit]
Description=mopidy
After=network.target

[Service]
Type=simple
ExecStart=/home/kenyonj/.scripts/mopidy-start

[Install]
WantedBy=default.target
