[Unit]
Description=Mopidy music server
After=network.target

[Service]
Type=simple
ExecStart=/home/kenyonj/.scripts/mopidy-start

[Install]
WantedBy=multi-user.target
